# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
ENV/
env/

notebooks/data/
data/
quantized_models/

# Distribution
build/
dist/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db
